@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 85px !important;
  padding-right: 85px !important;
  /* font-family: "Fraunces", serif; */
  @media (max-width: 767px) {
    /* .container nav { */
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    justify-content: space-between !important;
    /* gap: 50px; */
  }
}

.main {
  /* padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 85px;
  padding-right: 85px; */
  /* margin-bottom: 40px; */
  .container {
    nav {
      .logo {
        img {
          width: clamp(162px, 55vw, 237px);
        }
      }

      ul {
        gap: 33px;
        li {
          a {
            color: var(--colors-neutral-500, #83888f);
            text-decoration: none;
          }
        }
      }
    }
  }

  .mainPhoto {
    background-image: url(../image/About\ Image.svg);
    opacity: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: clamp(80px, 10vw, 140px) !important;

    /* width: clamp(343px, 89vw, 1270px); */
    margin-top: 40px !important;

    /* padding-bottom: clamp(96px, 10vw, 120px) !important; */

    /* height: 584px; */
    color: var(--colors-neutral-50, #fefcf7);
    /* padding-left: clamp(40px, 5vw, 80px) !important; */
    border-radius: 10px;
    .contant {
      padding-top: clamp(64px, 8vw, 120px);
      padding-bottom: clamp(64px, 8vw, 120px);

      padding-left: clamp(24px, 6vw, 96px);
      padding-right: clamp(24px, 12vw, 667px);

      /* background-color: #333d4b; */
      h1 {
        margin-bottom: 32px;
        width: clamp(200px, 34vw, 493px);
        /* height: 145; */
        opacity: 1;
        /* padding-right: 10px; */
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: clamp(28px, 2.5vw, 40px);
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--colors-neutral-50, #fefcf7);
      }
      p {
        color: var(--colors-neutral-50, #fefcf7);

        margin-bottom: 48px;
        width: clamp(256px, 30vw, 493px);
        /* height: 78px; */

        opacity: 0.8;

        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: clamp(10px, 3vh, 16px);
        line-height: 160%;
        letter-spacing: 0px;
      }
    }
  }
  .ourcomments {
    /* .im {
      background-image: url(../image/Bitmap1.svg);
      opacity: 1;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
      opacity: 1;
    } */
    
      img {
        width: 445px;
        height: 520px;
        opacity: 1;

        @media (max-width: 767.98px) {
          width: 290px;
          height: 390px;
          angle: 0 deg;
          opacity: 1;

        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          width: 240px;
          height: 456px;
          angle: 0 deg;
          opacity: 1;
        }
      
    }
    .comments {
      h2 {
        color: var(--colors-neutral-900, #333d4b);
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: clamp(28px, 10vw, 40px);
        line-height: 120%;
        letter-spacing: 0px;
         @media (max-width: 767.98px) {
          margin-bottom: 20px;
          margin-top: 48px;

        }
      }
      p {
        color: var(--colors-neutral-900, #333d4b);

        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
      }
    }
  }
}
