@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 85px !important;
  padding-right: 85px !important;
  /* font-family: "Fraunces", serif; */
  @media (max-width: 767px) {
    /* .container nav { */
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    justify-content: space-between !important;
    /* gap: 50px; */
  }
}

.main {
  /* padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 85px;
  padding-right: 85px; */
  /* margin-bottom: 40px; */
  .container {
    nav {
      .logo {
        img {
          width: clamp(162px, 55vw, 237px);
        }
      }

      ul {
        gap: 33px;
        li {
          a {
            color: var(--colors-neutral-500, #83888f);
            text-decoration: none;
          }
        }
      }
    }
  }

  .mainPhoto {
    background-image: url(../image/About\ Image.svg);
    opacity: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: clamp(80px, 10vw, 140px) !important;

    /* width: clamp(343px, 89vw, 1270px); */
    margin-top: 40px !important;

    /* padding-bottom: clamp(96px, 10vw, 120px) !important; */

    /* height: 584px; */
    color: var(--colors-neutral-50, #fefcf7);
    /* padding-left: clamp(40px, 5vw, 80px) !important; */
    border-radius: 10px;
    .contant {
      padding-top: clamp(64px, 8vw, 120px);
      padding-bottom: clamp(64px, 8vw, 120px);

      padding-left: clamp(24px, 6vw, 96px);
      padding-right: clamp(24px, 12vw, 667px);

      /* background-color: #333d4b; */
      h1 {
        margin-bottom: 32px;
        width: clamp(200px, 34vw, 493px);
        /* height: 145; */
        opacity: 1;
        /* padding-right: 10px; */
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: clamp(28px, 2.5vw, 40px);
        line-height: 100%;
        letter-spacing: 0px;
        color: var(--colors-neutral-50, #fefcf7);
      }
      p {
        color: var(--colors-neutral-50, #fefcf7);

        margin-bottom: 48px;
        width: clamp(256px, 30vw, 493px);
        /* height: 78px; */

        opacity: 0.8;

        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: clamp(10px, 3vh, 16px);
        line-height: 160%;
        letter-spacing: 0px;
      }
    }
  }
  .ourcomments {
    /* .im {
      background-image: url(../image/Bitmap1.svg);
      opacity: 1;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
      opacity: 1;
    } */

    img {
      /* width: 445px;
        height: 520px; */
      opacity: 1;
      object-fit: cover;

      @media (max-width: 767.98px) {
        width: 290px;
        height: 390px;
        angle: 0 deg;
        opacity: 1;
        object-fit: cover;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: 150px;
        height: 520px;
        angle: 0 deg;
        opacity: 1;
        object-fit: cover;
      }
    }
    .comments {
      h2 {
        color: var(--colors-neutral-900, #333d4b);
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: clamp(28px, 4vw, 40px);
        line-height: 120%;
        letter-spacing: 0px;
        @media (max-width: 767.98px) {
          margin-bottom: 20px !important;
          margin-top: 48px !important;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          margin-top: 90px !important;
          margin-bottom: 32px !important;
        }
      }
      p {
        color: var(--colors-neutral-900, #333d4b);

        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        @media (min-width: 768px) and (max-width: 991.98px) {
          margin-bottom: 90px !important;
        }
      }
    }
  }

  .cek {
    position: relative;
    margin-top: 228px;
    background: var(--colors-neutral-900, #333d4b);
    padding: 112px 0px 112px 80px;
    @media (max-width: 767px) {
      padding: 112px 10px 112px 10px;
      text-align: center;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      padding: 112px 79px 112px 85px;
      text-align: center;
    }
    @media (min-width: 1024px) and (max-width: 1439px) {
      padding: 112px 480px 112px 85px;
      /* text-align: center; */
    }
    @media (min-width: 1440px) {
      padding: 112px 660px 112px 85px;
      /* text-align: center; */
    }
    .Uncompromising {
      /* position: relative; */
      .contant {
        /* width: clamp(285px, 37vw, 540px); */
        @media (min-width: 992px) {
          margin-right: 130px;
          gap: 32px;
        }
        @media (max-width: 767.98px) {
          gap: 32px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          gap: 20px;
        }

        h2 {
          color: var(--colors-neutral-50, #fefcf7);
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: clamp(30px, 2vw, 40px);
          line-height: 120%;
          letter-spacing: 0px;
        }
        p {
          color: var(--colors-neutral-50, #fefcf7);
          font-family: Barlow;
          font-weight: 400;
          font-style: Regular;
          font-size: 15px;
          line-height: 160%;
          letter-spacing: 0px;
        }
      }
    }

    .imgposition {
      position: absolute;

      img {
        width: clamp(280px, 465px, 520px);
        max-width: 100%;
        object-fit: cover;
        @media (max-width: 374px) {
          width: 240px;
          height: 156px;
          object-fit: cover;
          object-position: left left;
        }
        @media (min-width: 375px) and (max-width: 424px) {
          width: 280px;
          height: 156px;
        }
        @media (min-width: 425px) and (max-width: 767px) {
          width: 280px;
          height: 156px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
          width: 495px;
          height: 220px;
        }
        @media (min-width: 991px) and (max-width: 1024px) {
          width: 410px;
          height: 435px;
        }
        @media (min-width: 1025px) {
          top: -48px;
          right: 85px;
        }
      }
      @media (max-width: 374px) {
        left: 35%;
        top: 50%;
        transform: translate(-28%, -232%);
        /* top: calc(width/2 + 80%) ;
        right: calc(width/2 + 30%); */
        /* transform: translate(13px, 55px); */
        /* transform: translate(-50%, -50%); */
      }
      @media (min-width: 375px) and (max-width: 424px) {
        left: 35%;
        top: 50%;
        transform: translate(-28%, -232%);
      }
      @media (min-width: 425px) and (max-width: 767px) {
        left: 35%;
        top: 50%;
        transform: translate(-25%, -212%);
      }
      @media (min-width: 768px) and (max-width: 992px) {
        left: 20%;
        top: 50%;
        transform: translate(-12%, -167%);
        /* top: calc(495px / 2 + 80%);
        right: calc(495px / 2 + 30%); */
      }
      @media (min-width: 991px) and (max-width: 1024px) {
        left: 21%;
        top: 50%;
        transform: translate(53%, -80%);
      }
      @media (min-width: 1025px) {
        top: -100px;
        right: 85px;
      }
    }
  }

  .Ourheadquarters {
    gap: 64px;
    margin-top: 140px;
    .contant {
      /* gap: 80px; */
      h3 {
        color: var(--colors-neutral-500, #83888f);
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0px;
      }
    }
    .divrow {
      /* gap:14px; */
      .mainContant {
        /* width:280px ; */
        /* max-width: 32%; */
        .contant {
          /* gap: 40px; */
          img {
            margin-bottom: 40px;
          }
          h2 {
            /* padding-left:10px ; */
            color: var(--colors-neutral-900, #333d4b);
            font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
            font-size: 32px;
            line-height: 113.99999999999999%;
            letter-spacing: 0px;
            margin-bottom: 24px !important;
            @media (max-width: 992px) {
              font-size: 20px;
            }
          }
          p {
            color: var(--colors-neutral-900, #333d4b);
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0px;
          }
        }
      }
    }
  }

  .divfooter {
    /* gap: 241px; */
    margin-top: 140px;
    background: var(--colors-neutral-900, #333d4b);
    padding-left: clamp(20px, 5vw, 80px);
    padding-right: clamp(20px, 5vw, 80px);
    padding-top: clamp(41px, 3vw, 48px);
    padding-bottom: clamp(41px, 3vw, 48px);
    .im {
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: 160px;
        height: 16px;
      }
    }

    a {
      color: var(--colors-neutral-500, #83888f);
      font-family: Barlow;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: uppercase;
      @media (max-width: 374px) {
        font-size: 8px;
      }
    }
  }
}
